div {
    font-size       : 1.2rem;
     width: 91px;
     height          : 8vh;
     display         : flex;
     justify-content : center;
     align-items     : center;
     transition      : background-color 0.2s;
     text-align: center;
             }
/*div:hover {
    background-color : #2F6FB7;
    border: 0.2rem solid #777;
    color: #eee;
                }*/