<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
/>
<div class="container-fluid">
  <div class="calendar">
    <div class="month">
      <i style="color: #eee;" class="fas fa-angle-left prev" (click)="prevWeek()"></i>
      <div class="date">
        <h1>{{h1}}</h1>
        <p>{{p}}</p>
      </div>
      <i style="color: #eee;" class="fas fa-angle-right next" (click)="nextWeek()"></i>
    </div>
    <div class="weekdays">
      <div class="weekday">Sun</div>
      <div class="weekday">Mon</div>
      <div class="weekday">Tue</div>
      <div class="weekday">Wed</div>
      <div class="weekday">Thu</div>
      <div class="weekday">Fri</div>
      <div class="weekday">Sat</div>
    </div>
    <div class="days">
      <div class="dayandday" style="width:calc(44.2rem / 9);"></div>
      <app-pre-day class="dayandday" *ngFor="let day of dayList"
      [day]="day"></app-pre-day>
    </div>
    <div class="schaduale">
      <div >
        <table >
          <tr class="time">
              <td>9:00 AM</td>
          </tr>
          <tr class="time">
              <td>9:15 AM</td>
          </tr>
          <tr class="time">
              <td>9:45 AM</td>
          </tr>
          <tr class="time">
              <td>10:00 AM</td>
          </tr>
          <tr class="time">
            <td>10:15 AM</td>
        </tr>
        <tr class="time">
            <td>10:30 AM</td>
        </tr>
        <tr class="time">
            <td>10:45 AM</td>
        </tr>
        <tr class="time">
            <td>11:00 AM</td>
        </tr>
        <tr class="time">
          <td>11:15 AM</td>
      </tr>
      <tr class="time">
          <td>11:30 AM</td>
      </tr>
      <tr class="time">
          <td>1:00 PM</td>
      </tr>
      <tr class="time">
          <td>1:15 PM</td>
      </tr>
      <tr class="time">
        <td>1:30 PM</td>
    </tr>
        </table>
      </div>
      <div class="dayslots" style="display: flex; flex-wrap: wrap; width :89%; height:100% ; padding: 0px;">
        <app-day-solts style="width: calc(100% / 7);"  *ngFor="let day of dayList"
        [day]="day"></app-day-solts>
      </div>
    </div>
  </div>
</div>
