* {
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
    font-family : "Quicksand", sans-serif;
    }
  html {
    font-size : 62.5%;
    }
  .container {
    width            : 100%;
    height           : 100%;
    background-color : #eee;
    color            :  #2F6FB7;
    display          : flex;
    justify-content  : center;
    align-items      : center;
    }
.calendar {
        width: 100%;
        height           : 100%;
        background-color : #eee;
        /*box-shadow       : 0 0.5rem 3rem #00000066;*/
        }
.month {
        width            : 100%;
        height           : 12rem;
        background-color : #2F6FB7;
        display          : flex;
        justify-content  : space-between;
        align-items      : center;
        padding          : 0 2rem;
        text-align       : center;
        /*text-shadow      : 0 0.3rem 0.5rem #00000080;*/
        }
.month i {
            font-size : 2.5rem;
            cursor    : pointer;
            }
.month h1 {
            font-size      : 3rem;
            font-weight    : 400;
            text-transform : uppercase;
            letter-spacing : 0.2rem;
            margin-bottom  : 1rem;
            color: #eee;
            }
.month p {
            font-size : 1.6rem;
            color: #eee;
            }
.weekdays {
            width       : 100%;
            height      : 5rem;
            padding     : 0 0.4rem;
            display     : flex;
            flex-wrap: wrap;
            align-content: space-around;
            }
.weekdays div {
                font-size       : 2.5rem;
                font-weight     : 400;
                letter-spacing  : 0.1rem;
                width           : calc(44.2rem / 6.2);
                display         : flex;
                justify-content : center;
                align-items     : center;
               /* text-shadow : 0 0.3rem 0.5rem #00000080;*/
                margin: auto;
                
                }
.dayandday{
        font-size       : 3rem;
        font-weight     : 400;
        letter-spacing  : 0.1rem;
        width           : calc(44.2rem / 6.2);
        display         : flex;
        justify-content : center;
        align-items     : center;
        /*text-shadow : 0 0.3rem 0.5rem #00000080;*/
        margin: auto;
}
.schaduale{
        width       : 100%;
            height      : 100%;
            padding     : 0 0.4rem;
            display     : flex;
            flex-direction: row;
            align-content: space-around;
}
.dayslots{
        width       : 100%;
            height      : 100%;
            padding     : 0 0.4rem;
            display: flex;
            flex-wrap: wrap;
            /*gap: 20px;*/
           flex-direction: row;
            
}
table {
        
        table-layout: fixed;
        /*border-collapse: collapse;*/
       width: calc(44.2rem / 2.5);
      }
tr {
        border: 1px solid #645f5f;
        width: 195px;
        height: 133.8px;
        
      }
td{
       /* padding:30px 30px;*/
        text-align: center;
        font-size: 2.3rem;
        
}

.days {
        width       : 100%;
        height      : 5rem;
        padding     : 0 0.4rem;
        display     : flex;
        flex-wrap: wrap;
        align-content: space-around;
                }

.days div:hover:not(.today) {
                    background-color : #262626;
                    border           : 0.2rem solid #777;
                    cursor           : pointer;
                    }
.today {
        background-color : #167e56;
                    }