
<div class="container-fluid" [style.z-index]="1">
  <div class="left">
    <button class="today-btn" (click)="Todaydate()">Today</button>
    <div class="calendar">
      <div class="month">
        <i class="fa-solid fa-chevron-left prev" (click)="prevMonth()"></i>
        <div class="date">{{FullDate}}</div>
        <i class="fa-solid fa-chevron-right next" (click)="nextMonth()"></i>
      </div>
      <div class="weekdays">
        <div *ngFor="let name of dayName">{{name}}</div>
      </div>
      <div class="days">
        <app-days class="day" *ngFor="let day of dayList"
        [day]="day" [ngClass]="{'disabled':day.enable===false,
                                'active':day.enable==true, }"
        (date)="showNumber($event)"
        [selected]="{selectedDay}"
        [month]="{month}">
      </app-days>
      </div>
  </div>
  </div>
    <div class="right">
      <div class="appointment">{{date}}</div>
      <div class="times">
        <app-slots *ngFor="let slot of slotList" [slots]="slot" class="time"></app-slots>
      </div>
      </div>
    </div>