<div class="container">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Apply here</h3>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <br>
  <form [formGroup]="form" (ngSubmit)="loginUser()">
    <div class="field">
      <label class="label">First Name</label>
      <input formControlName="name" type="text" required name="name" (blur)="validateName()">
      <div *ngIf="isNameTouched && form.get('name')?.invalid && form.get('name')?.errors?.['required']" class="error-message">
        First Name is required.
      </div>
    </div>
    <br>
    <div class="field">
      <label class="label">Last Name</label>
      <input formControlName="lname" type="text" required name="lname" (blur)="validateName()">
      <div *ngIf="isNameTouched && form.get('lname')?.invalid && form.get('lname')?.errors?.['required']" class="error-message">
        Last Name is required.
      </div>
    </div>
    <br>
    <div class="field">
      <label class="label">Email</label>
      <input formControlName="email" type="email" name="email" required (blur)="validateName()">
      <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid && form.get('email')?.errors?.['required']" class="error-message">
        Email is required.
      </div>
      <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid && form.get('email')?.errors?.['invalidEmail']" class="error-message">
        Invalid email format.
      </div>
    </div>
    <br>
    <div class="field">
      <label class="label">Birth Date</label>
      <input formControlName="birth" type="date" name="birth" required>
      <div *ngIf="form.get('birth')?.touched && form.get('birth')?.invalid && form.get('birth')?.errors?.['invalidAge']" class="error-message">
        Invalid age. Age must be between 18 and 100 years.
      </div>
    </div>
    <br>
    <div class="field">
      <label class="label">City</label>
      <input formControlName="city" type="text" name="city" required>
    </div>
    <br>
    <div class="field">
      <label class="label">Zip-Code</label>
      <input formControlName="zip" type="text" name="zip" required>
      <div *ngIf="form.get('zip')?.touched && form.get('zip')?.invalid && form.get('zip')?.errors?.['required']" class="error-message">
        Zip-Code is required.
      </div>
      <div *ngIf="form.get('zip')?.touched && form.get('zip')?.invalid && form.get('zip')?.errors?.['minlength']" class="error-message">
        Zip-Code must have a minimum length of 5 characters.
      </div>
    </div>
    <br>
    <div class="field">
      <label class="label">Phone</label>
      <input formControlName="phone" type="tel" name="phone" required pattern="^[0-9]{10}$">
      <div *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid && form.get('phone')?.errors?.['required']" class="error-message">
        Phone is required.
      </div>
      <div *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid && form.get('phone')?.errors?.['pattern']" class="error-message">
        Phone must be a 10-digit number.
      </div>
    </div>
    <br>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Ok</button>
    </div>
  </form>
</div>
