<div class="container">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Apply here</h3>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <br>
  <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">

      <div class="field">
        <label class="label">First Name </label>
        <input type="text" required #name="ngModel" pattern="[a-zA-Z]+$" name="name" ngModel>
        
      </div>
    <br>
    <div class="field">
        <label class="label">Last Name </label>
        <input type="text" name="lname" required #lname="ngModel" pattern="[a-zA-Z]+$"  class="input" ngModel>
      </div>
      <br>
      <div class="field">
        <label class="label">Email </label>
        <input type="text" name="email" required #email="ngModel" email class="input" ngModel>
      </div>
      <br>
      <div class="field">
        <label class="label">Birth Date </label>
        <input type="date" name="birth" required #birth="ngModel" class="input" ngModel>
      </div>
      <br>
      <div class="field">
        <label class="label"> City</label>
        <input type="text" name="city" required #city="ngModel" class="input" ngModel>
      </div>
      <br>
      <div class="field">
        <label class="label">Zip-Code </label>
        <input type="text" name="zip" minlength="5" required #zip="ngModel" pattern="^[0-9]*$" class="input" ngModel>
       
      </div>
      <br>
      <div class="field">
        <label class="label">Phone number</label>
        <input type="tel"name="phone" minlength="10" required #numb="ngModel" pattern="^[0-9]*$" class="input" ngModel>
      </div>
    <br>
    </form>      
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="loginUser(loginForm.value)">Ok</button>
  </div>
</div>