<div class="container">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Apply here</h3>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <br>
  <form #loginForm="ngForm" (ngSubmit)="validation(loginForm.value)">

      <div class="field">
        <label class="label">First Name </label>
        <input type="text" pattern="[a-zA-Z]+$" minlength="3" name="name" ngModel>
        
      </div>
    <br>
    <div class="field">
        <label class="label">Last Name </label>
        <input type="text" name="lname" pattern="[a-zA-Z]+$"  minlength="3" class="input" ngModel>
      </div>
      <br>
      <div class="field">
        <label class="label">Email </label>
        <input type="text" name="email" class="input" ngModel>
      </div>
      <br>
      <div class="field">
        <label class="label">Birth Date </label>
        <input type="date" name="birth" class="input" ngModel>
      </div>
      <br>
      <div class="field">
        <label class="label"> City</label>
        <input type="text" name="city"  class="input" ngModel>
      </div>
      <br>
      <div class="field">
        <label class="label">Zip-Code </label>
        <input type="text" name="zip" class="input" ngModel>
       
      </div>
      <br>
      <div class="field">
        <label class="label">Phone number</label>
        <input type="tel"name="phone" minlength="10" pattern="^[0-9]*$" class="input" ngModel>
      </div>
    <br>
    </form>      
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="validation(loginForm.value)">Ok</button>
  </div>
</div>