.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #C7DBFF;
    color: #2F6FB7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #C7DBFF;
    padding: 12px 16px;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  span{
    color: #2F6FB7;
    font-size: 1.2rem;
    cursor: pointer;
  }