button{
  width: 100%;
  align-content: center;
  background-color: transparent;
  outline: none;
  border:none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background-color: transparent;
  padding: 0%;
  width: 100%;
}
button:focus{
  outline: none;
}
  