div{
  width: 100%;
  height: 11vh;
  text-align: center;
  padding: 40%;
}
.avalibalSlots:hover{
    
    background-color: transparent;
  }
  .avalibalSlotsRed:hover{
    color: red;
    cursor: not-allowed;
   
  }
  .avalibalSlotsBlue:hover{
    text-decoration: double;
  }