.avalibalSlots:hover{
  background-color: transparent;
}

.avalibalSlotsBlue:hover{
  text-decoration: double;
  border: 1px solid blue !important;
}

.avalibalSlotsRed:hover{
  border: 1px solid red;
 
}

.selected {
  background-color: #2F6FB7;
  color: #C7DBFF !important;
}
div{
  width: 100%;
  padding: 0;
}
input{
  width: 99%;
  height: 11vh;
  text-align: center;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background-color: transparent;
  padding: 1%;
  color: #2F6FB7 ;
}

input:disabled{
  color: #9e9c9c;
}


    
@media screen and (max-width: 1000px) {
  input{
    height: 6vh;
  }
}